
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* shared style   */

.bg-secondary{
    background-color: rgba(255, 144, 14, 0.1);
}

.bg-primary{
    background-color: #FF900E;
}


.max-width{
    width: 1440px;
    margin: 0 auto;
}

.btn-primary{

    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    color: white;
    border: none;
    border-radius: 7px;
    margin: 20px;
    cursor: pointer;
}



/* navbar code here  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul a {
    text-decoration: none;
    color: black;
}

/* banner code here   */
.banner{
    text-align: center;
    padding-bottom: 20px;
}

.banner-title{
font-size: 64px;
font-weight: bold;

}

.banner-des{
font-size: 16px;

}

.banner-img{

}