
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* shared style   */

.bg-secondary{
    background-color: rgba(255, 144, 14, 0.1);
}

.bg-primary{
    background-color: #FF900E;
}

.text-primary{
   
    color: #444444;
}
.text-secondary{
     color: #727272;
}


.max-width{
    width: 1440px;
    margin: 0 auto;
}

.btn-primary{

    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    color: white;
    border: none;
    border-radius: 7px;
    
    cursor: pointer;
}



/* navbar code here  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 45px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul a {
    text-decoration: none;
    color: black;
}

/* banner code here   */
.banner{
    text-align: center;
    padding-bottom: 20px;
}

.banner-title{
font-size: 64px;
font-weight: bold;

}

.banner-des{
font-size: 16px;

}

.banner-img{
 width: 100%;
 margin-top: 30px;
}


/* teams section */

.teams{
    display: flex;
    align-items: center;
    margin-top: 130px;
    
}

.teams-left{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.teams-right{
    margin-left: 70px;
    
    
}

.teams-title{
    font-size: 45px;
    font-weight: 400;
}

.teams-title-bold{
    font-weight: bold;
    color: black;
}

.teams-title-features{
    color: #FF900E;
    font-weight: bold;

}

/* facts section  */
.facts-section{
    margin-top: 130px;
}
.facts-title{
    font-size: 45px;
    font-weight: bold;
}

.facts-des{
    max-width: 540px;
}

.facts-container{
    display: flex;
    justify-content: space-around;
}

.fact{
    text-align: center;
    border: 1px solid #FF900E;
    padding: 45px 35px;
    border-radius: 7px;
    width: 170px;
    height: 135px;
}

.fact-title{
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fact-des{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}